<div class="page" data-name="ola">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">IMAGEN URBANA</div>
    </div>
  </div>


  <div class="page-content">
      <div class="ola">
  
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
  <button>
      <a href="/bache/" class="row3"class="col button button button-raised button-fill google" >Reporte de Bache</a>
      </button>
      <br>
      <br>
      <br>
      <br>
      <button>
      <a href="/lampara/" class="row3"class="col button button button-raised button-fill google" >Reporte de Lampara Fundida</a>
      </button>
      <br>
      <br>
      <br>
      <br>
      <button>
      <a href="/semaforo/" class="row3"class="col button button button-raised button-fill google" >Reporte de Semaforo descompuesto</a>
      </button>
      <br>
      <br>
      <br>
      <br>
      <button>
      <a href="/camion/" class="row3"class="col button button button-raised button-fill google" >Reporte Camion de la Basura</a>
      </button>
       



    </div>
  </div>
</div>